{% extends "shop/base2.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

<header>
    <nav class="navbar navbar-main navbar-expand-lg border-bottom">
        <div class="container">
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bars text-muted mr-2"></i> Categories </a>
                <div class="dropdown-menu">
                    {% for c in categories %}
                    <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    {% endfor %}
                </div>
            </ul>
          </div> <!-- collapse .// -->
</header>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

    <!-- ============================  FILTER TOP  ================================= -->
    <div class="card mb-3">
        <div class="card-body">
    <div class="row">
        <div class="col-md-2"> Your are here: </div> <!-- col.// -->
        <nav class="col-md-8"> 
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Sub category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Items</li>
        </ol>  
        </nav> <!-- col.// -->
    </div> <!-- row.// -->
    <hr>
    
        </div> <!-- card-body .// -->
    </div> <!-- card.// -->
    <!-- ============================ FILTER TOP END.// ================================= -->

    
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <figure class="card card-product-grid">
                <div class="img-wrap">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                    </a>
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                        <a href="{{ product.get_absolute_url }}" class="title mb-2">{{ product.name }}</a>
                        <div class="price-wrap">
                            <span class="price">${{ product.price }}</span> 
                        </div> <!-- price-wrap.// -->				   
                </figcaption>
            </figure>
        </div>
        {% endfor %}
        <!-- col.// -->
    </div>
    <!-- row end.// -->
    
    
    <nav class="mb-4" aria-label="Page navigation sample">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>

    </div>
    </section>
{% endblock %}